<div class="container">
	<h1>Cascade Classifier Training</h1>
	<hr>
	<h4>This application will demonstrate how to create your own OpenCV Haar classifier</h4>
	<h4>The idea is to give the user the option to recognize is own object in any image</h4>
</div>
